<div class="line7">
  <div class="container">
    <div class="row footer">
      <div class="col-md-12">
        <h3>Stay in the loop</h3>
        <p>Your most loved social platform, and my updates .... how hard could it be to keep up! </p>
      </div>
      <div class="soc col-md-12">
        <ul>
          <li class="soc1"><%=   link_to '', 'https://se.linkedin.com/in/mazen-zayat-3088571a', target: :_blank %></li>
          <li class="soc2"><%=   link_to '', 'https://www.facebook.com/mezo26', target: :_blank %></li>
          <li class="soc3"><%=	 link_to '', 'https://twitter.com/mmeezzoo26', target: :_blank %></li>
          <li class="soc4"><%=	 link_to '', 'https://se.pinterest.com/mazenzayat/', target: :_blank %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="lineBlack">
  <div class="container">
    <div class="row downLine">
      <div class="col-md-6 text-left copy">
        <p> &copy; 2016 Mazen!</p>
      </div>
      <div class="col-md-6 text-right dm">
        <ul id="downMenu">
          <li><%= link_to 'Home', '/index.html' %></li>
          <li><%= link_to 'About', '/about.html' %></li>
          <li><%= link_to 'Portfolio', '/portfolio.html' %></li>
          <li><%= link_to 'Contact', '/contact.html' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
