---
directory_index: false
---

<div class="headerLine">
  <div id="menuF" class="default">
    <div class="container">
      <div class="row">
        <div class="logo col-md-4">
          <div>
            <% link_to '/index.html' do %>
                <%= image_tag '/images/mazen2.png' %>
            <% end %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="navmenu" style="text-align: center;">
            <ul id="menu">
              <li><%= link_to 'Home', '/index.html' %></li>
              <li><%= link_to 'About', '/about.html' %></li>
              <li><%= link_to 'Portfolio', '/portfolio.html' %></li>
              <!--<li><%#= link_to 'News', '/news.html' %></li>-->
              <li><%= link_to 'Contact', '/contact.html' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row wrap">
      <div class="col-md-12 gallery">
        <div class="camera_wrap camera_white_skin" id="camera_wrap_1">
          <div data-thumb="" data-src="../../images/slides/blank.gif">
            <div class="img-responsive camera_caption fadeFromBottom">
              <h2>Long sighted.</h2>
            </div>
          </div>
          <div data-thumb="" data-src="../../images/slides/blank.gif">
            <div class="img-responsive camera_caption fadeFromBottom">
              <h2>Advanced Listener.</h2>
            </div>
          </div>
          <div data-thumb="" data-src="../../images/slides/blank.gif">
            <div class="img-responsive camera_caption fadeFromBottom">
              <h2>Well rounded..Literally.</h2>
            </div>
          </div>
        </div><!-- #camera_wrap_1 -->
      </div>
    </div>
  </div>
</div>
