---
title: Mazen
---

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-4 project">
        <h3 id="counter">0</h3>
        <h4>Hours of experience</h4>
        <p>Well spent to achieve, learn and  lots of fun on the way. </p>
      </div>
      <div class="col-md-4 project">
        <h3 id="counter1">0</h3>
        <h4>Locations around Earth</h4>
        <p>Been there, Done that, mastered cultural understanding.  </p>
      </div>
      <div class="col-md-4 project">
        <h3 id="counter2" style="margin-left: 20px;">0</h3>
        <h4 style="margin-left: 20px;">Happy Life</h4>
        <p>Family, Career and society ... my passion triangle.  </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 cBusiness">
        <h3>Hope you are having a good day!</h3>
        <h4>Welcome to my personal site, a mix and match shots from my life on planet Earth so far, including the developmet of this site.</h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 centPic">
        <img class="img-responsive"  src="images/bizPic.png"/>
      </div>
    </div>
  </div>
</div>

<!--About start-->
<div id="about">
  <div class="line2">
    <div class="container">
      <div class="row Fresh">
        <div class="col-md-4 Des">
          <i class="fa fa-heart"></i>
          <h4>Passionate & people oriented</h4>
          <p>Believer in human interaction asvaluable asset...be it to listen, communicate and fully understand multicultural notion of today business changing landscape.</p>
        </div>
        <div class="col-md-4 Ver">
          <i class="fa fa-cog"></i>
          <h4>Very Efficient</h4>
          <p>Ability to capture, process and deliver on time & in budget rewarded me with below list of achievements along with many friends to keep! </p>
        </div>
        <div class="col-md-4 Fully">
          <i class="fa fa-tablet"></i>
          <h4>Technology Enthusiast </h4>
          <p>Business tech, Fin tech, and recently App tech all are fields of my interest, development and investment... did a lot, failed a lot ... But most important: learned a lot!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 wwa">
        <span name="about" ></span>
        <h3>Please feel at home</h3>
        <h4>Here, you will get an overview about myself... and would apprecaite to hear from you on any topic with mutual interest..</h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 hr1">
        <hr/>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 bar">
        <div class="progB chart" data-percent="82"  data-animate="3500">
          <div class="chart chart-content">
            <div class="percentage" data-percent="82">
              <span class="percent">82</span>
            </div>
          </div>
        </div>
        <div class="textP">
          <h3>Leadership</h3>
          <p>Fine negotiator, strategy builder <br/>Customer management, business development </p>
        </div>
      </div>
      <div class="col-md-3 bar">
        <div class="progB chart" data-percent="52"  data-animate="3500">
          <div class="chart chart-content">
            <div class="percentage" data-percent="52">
              <span class="percent">52</span>
            </div>
          </div>
        </div>
        <div class="textP">
          <h3>Coding</h3>
          <p>WIP to be knowledgeable in app development <br/>Ruby, Ruby on Rails, full stack development. </p>
        </div>
      </div>
      <div class="col-md-3 bar ">
        <div class="progB chart" data-percent="65"  data-animate="3500">
          <div class="chart chart-content">
            <div class="percentage" data-percent="65">
              <span class="percent">65</span>
            </div>
          </div>
        </div>
        <div class="textP">
          <h3>Entrepreneurship</h3>
          <p>business adventures, agile mentor <br/>Keen for new ideas, startup. </p>
        </div>
      </div>
      <div class="col-md-3 bar ">
        <div class="progB chart" data-percent="78"  data-animate="3500">
          <div class="chart chart-content">
            <div class="percentage" data-percent="78">
              <span class="percent">78</span>
            </div>
          </div>
        </div>
        <div class="textP">
          <h3>Multicultural</h3>
          <p>Middle Eastern by born, European by living <br/>Understand and capitalize on culture edges. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row cBtn">
      <div class="col-md-12" style="text-align: center; margin-bottom: -90px; z-index: 10;">
        <ul class="mNews">
          <li><a href="/about.html"><i class="fa fa-arrow-right"></i>Know me closer</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!--Portfolio-->
<div id="project">
  <div class="line3">
    <div class="container">
      <div id="project1" ></div>
      <div class="row Ama">
        <div class="col-md-12">
          <span name="portfolio" id="portfolio"></span>
          <h3>My Portfolio</h3>
          <p>Multidimensional: education to experience, projects, hobbies and activities...welcome in my world!  </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- filter_block -->
      <div id="options" class="col-md-12" style="text-align: center;">
        <ul id="filter" class="option-set" data-option-key="filter">
          <li><a class="selected" href="#filter" data-option-value="*" class="current">All Works</a></li>
          <li><a href="#filter" data-option-value=".experience">Experience</a></li>
          <li><a href="#filter" data-option-value=".coding">Coding</a></li>
          <li><a href="#filter" data-option-value=".alumni">Alumni</a></li>
          <li><a href="#filter" data-option-value=".psr">PSR</a></li>
          <li><a href="#filter" data-option-value=".hobbies">Hobbies</a></li>
        </ul>
      </div><!-- //filter_block -->



      <div class="portfolio_block columns3   pretty" data-animated="fadeIn">


        <div class="element col-sm-4  gall coding">
          <a class="plS" >
            <% link_to '/portfolio.html' do %>
                <%= image_tag 'images/prettyPhotoImages/middleman.png',class: 'img-responsive picsGall' ,alt: 'Coding' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Mazen - middleman simple site', '/portfolio.html' %></h3>
            <ul><li></li></ul>
          </div>
        </div>


        <div class="element col-sm-4  gall alumni">
          <a class="plS" >
            <% link_to 'https://www.alumni.ox.ac.uk/', target: '_blank' do %>
                <%= image_tag 'images/prettyPhotoImages/oxfordlogo.png',class: 'img-responsive picsGall' ,alt: 'Alumni' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Oxford Alumni', 'https://www.alumni.ox.ac.uk/', target: '_blank' %></h3>
            <ul><li></li></ul>
          </div>
        </div>
        
        <div class="element col-sm-4  gall  hobbies">
          <a class="plS"  rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="/images/prettyPhotoImages/diy.png" alt="DIY"/>
          </a>
          <div class="view project_descr center">
            <h3><a>Machine learning & DIY</a></h3>
            <ul><li></li></ul>
          </div>
        </div>


        <div class="element col-sm-4  gall alumni">
          <a class="plS" >
            <% link_to 'http://www.hiba.edu.sy/index.php?id=1', target: '_blank' do %>
                <%= image_tag 'images/prettyPhotoImages/hiba.png',class: 'img-responsive picsGall' ,alt: 'Alumni' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'HIBA- MBA', 'http://www.hiba.edu.sy/index.php?id=1', target: '_blank' %></h3>
            <ul><li></li></ul>
          </div>
        </div>


        <div class="element col-sm-4  gall psr">
          <a class="plS" >
            <% link_to 'http://www.agileventures.org/', target: '_blank' do %>
                <%= image_tag 'images/prettyPhotoImages/agile.png',class: 'img-responsive picsGall' ,alt: 'Personal Social Responsibility' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Member- Agile Ventures', 'http://www.agileventures.org/', target: '_blank' %></h3>
            <ul><li></li></ul>
          </div>
        </div>


        <div class="element col-sm-4  gall psr">
          <a class="plS" >
            <% link_to 'http://www.britishsyriansociety.org/', target: '_blank' do %>
                <%= image_tag 'images/prettyPhotoImages/bss.png',class: 'img-responsive picsGall' ,alt: 'Personal Social Responsibility' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Platinum member- BSS', 'http://www.britishsyriansociety.org/', target: '_blank' %></h3>
            <ul><li></li></ul>
          </div>
        </div>

        <div class="element col-sm-4  gall  hobbies">
          <a class="plS" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="/images/prettyPhotoImages/tennis.png" alt="Tennis"/>
          </a>
          <div class="view project_descr center">
            <h3><a>Tennis- Hobbiest player</a></h3>
            <ul><li></li></ul>
          </div>
        </div>

        <div class="element col-sm-4  gall psr">
          <a class="plS" >
            <% link_to 'http://400contacts.eu-gb.mybluemix.net/explore', target: '_blank' do %>
                <%= image_tag 'images/prettyPhotoImages/400cont.png',class: 'img-responsive picsGall' ,alt: 'Personal Social Responsibility' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Mentor - 400Contacts', 'http://400contacts.eu-gb.mybluemix.net/explore', target: '_blank' %></h3>
            <ul><li></li></ul>
          </div>
        </div>


        <div class="element col-sm-4  gall hobbies">
          <a class="plS" >
            <% link_to '/rc.html', target: '_blank' do %>
                <%= image_tag 'images/prettyPhotoImages/IMG_4353.png',class: 'img-responsive picsGall' ,alt: 'Hobby' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'RC - Nitro and drift RC car', '/rc.html', target: '_blank' %></h3>
            <ul><li></li></ul>
          </div>
        </div>

        <div class="element col-sm-4  gall experience">
          <a class="plS" >
            <% link_to '/about.html' do %>
                <%= image_tag 'images/prettyPhotoImages/coding.png',class: 'img-responsive picsGall' ,alt: 'Experience' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Coding- junior developer', '/about.html' %></h3>
            <ul><li></li></ul>
          </div>
        </div>

        <div class="element col-sm-4  gall  hobbies">
          <a class="plS" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="/images/prettyPhotoImages/coffee.png" alt="Coffee"/>
          </a>
          <div class="view project_descr center">
            <h3><a>Coffee- With good talk! </a></h3>
            <ul><li></li></ul>
          </div>
        </div>


        <div class="element col-sm-4  gall experience">
          <a class="plS" >
            <% link_to '/about.html' do %>
                <%= image_tag 'images/prettyPhotoImages/10years.png',class: 'img-responsive picsGall' ,alt: 'Experience' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to '12 Years multinationals', '/about.html' %></h3>
            <ul><li></li></ul>
          </div>
        </div>


        <div class="element col-sm-4  gall alumni">
          <a class="plS" >
            <% link_to 'http://damasuniv.edu.sy/english/', target: '_blank' do %>
                <%= image_tag 'images/prettyPhotoImages/damascusuni.png',class: 'img-responsive picsGall' ,alt: 'Alumni' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Damascus University', 'http://damasuniv.edu.sy/english/', target: '_blank' %></h3>
            <ul><li></li></ul>
          </div>
        </div>

        <div class="element col-sm-4  gall coding">
          <a class="plS" >
            <% link_to '/portfolio.html' do %>
                <%= image_tag 'images/prettyPhotoImages/js.png',class: 'img-responsive picsGall' ,alt: 'Coding' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'BMI calculator- Simple JS project', '/portfolio.html' %></h3>
            <ul><li></li></ul>
          </div>
        </div>

        <div class="element col-sm-4  gall experience">
          <a class="plS" >
            <% link_to '/about.html' do %>
                <%= image_tag 'images/prettyPhotoImages/fmcg.png',class: 'img-responsive picsGall' ,alt: 'Experience' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'FMCG, Cusotmer managment', '/about.html' %></h3>
            <ul><li></li></ul>
          </div>
        </div>

        <div class="element col-sm-4  gall psr">
          <a class="plS" >
            <% link_to 'http://www.i2aid.org/', target: '_blank' do %>
                <%= image_tag 'images/prettyPhotoImages/i2aid.png',class: 'img-responsive picsGall' ,alt: 'Personal Social Responsibility' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Founder - I2aid', 'http://www.i2aid.org/', target: '_blank' %></h3>
            <ul><li></li></ul>
          </div>
        </div>


        <div class="element col-sm-4  gall experience">
          <a class="plS" >
            <% link_to '/about.html' do %>
                <%= image_tag 'images/prettyPhotoImages/bizdev.png',class: 'img-responsive picsGall' ,alt: 'Experience' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Negotiation, business development', '/about.html' %></h3>
            <ul><li></li></ul>
          </div>
        </div>

        <div class="element col-sm-4  gall experience">
          <a class="plS" >
            <% link_to '/about.html' do %>
                <%= image_tag 'images/prettyPhotoImages/remote.png',class: 'img-responsive picsGall' ,alt: 'Experience' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Matrix and remote team leadership', '/about.html' %></h3>
            <ul><li></li></ul>
          </div>
        </div>

        <div class="element col-sm-4  gall experience">
          <a class="plS" >
            <% link_to '/about.html' do %>
                <%= image_tag 'images/prettyPhotoImages/educaiton.png',class: 'img-responsive picsGall' ,alt: 'Experience' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Fine educated', '/about.html' %></h3>
            <ul><li></li></ul>
          </div>
        </div>

        <div class="element col-sm-4  gall experience">
          <a class="plS" >
            <% link_to '/about.html' do %>
                <%= image_tag 'images/prettyPhotoImages/mentor.png',class: 'img-responsive picsGall' ,alt: 'Experience' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Mentoring & Capacity building', '/about.html' %></h3>
            <ul><li></li></ul>
          </div>
        </div>


        <div class="element col-sm-4  gall coding">
          <a class="plS" >
            <% link_to '/portfolio.html' do %>
                <%= image_tag 'images/prettyPhotoImages/sinatra.png',class: 'img-responsive picsGall' ,alt: 'Coding' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'SlowFood - Sinatra/DataMapper app', '/portfolio.html' %></h3>
            <ul><li></li></ul>
          </div>
        </div>

        <div class="element col-sm-4  gall experience">
          <a class="plS" >
            <% link_to '/about.html' do %>
                <%= image_tag 'images/prettyPhotoImages/ecosys.png',class: 'img-responsive picsGall' ,alt: 'Experience' %>
            <% end %>
          </a>
          <div class="view project_descr ">
            <h3><%= link_to 'Enterprunership and ecosystems', '/about.html' %></h3>
            <ul><li></li></ul>
          </div>
        </div>

      </div>
    </div>

    <script type="text/javascript">
      jQuery(window).load(function(){
        items_set = [

          {category : 'branding', lika_count : '77', view_count : '234', src : 'images/prettyPhotoImages/pic9.jpg', title : 'Foil Mini Badges', content : '' },

          {category : 'polygraphy', lika_count : '45', view_count : '100', src : 'images/prettyPhotoImages/pic7.jpg', title : 'Darko – Business Card Mock Up', content : '' },

          {category : 'text_styles', lika_count : '22', view_count : '140', src : 'images/prettyPhotoImages/pic8.jpg', title : 'Woody Poster Text Effect', content : '' }


        ];
        jQuery('.portfolio_block').portfolio_addon({
          type : 1, // 2-4 columns simple portfolio
          load_count : 3,

          items : items_set
        });
        $('#container').isotope({
          animationOptions: {
            duration: 900,
            queue: false
          }
        });
      });
    </script>
  </div>
</div>

<!--news start-->

<!--<div id="news">-->
  <!--<div class="line4">-->
    <!--<div class="container">-->
      <!--<div class="row Ama">-->
        <!--<div class="col-md-12">-->
          <!--<h3>What&rsquo;s New?</h3>-->
          <!--<p>Get the latest news from our blog</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="container">-->
    <!--<div class="row news">-->
      <!--<div class="col-md-6  text-left">-->
        <!--<img class="img-responsive picsGall" src="images/picNews/news1.jpg"/>-->
        <!--<h3><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>-->
        <!--<ul>-->
          <!--<li><i class="fa fa-calendar"></i>April 25, 2014</li>-->
          <!--<li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>-->
          <!--<li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>-->
        <!--</ul>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>-->
        <!--<hr class="hrNews">-->
      <!--</div>-->
      <!--<div class="col-md-6 text-right">-->
        <!--<img class="img-responsive picsGall" src="images/picNews/news2.jpg"/>-->
        <!--<h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>-->
        <!--<ul>-->
          <!--<li><i class="fa fa-calendar"></i>April 25, 2014</li>-->
          <!--<li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>-->
          <!--<li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>-->
        <!--</ul>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>-->
        <!--<hr class="hrNews">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="container">-->
    <!--<div class="row cBtn">-->
      <!--<div class="col-md-12" style="text-align: center; margin-bottom: -90px; z-index: 10;">-->
        <!--<ul class="mNews">-->
          <!--<li class="dowbload bhide2"><a href="#"><i class="fa fa-arrow-right"></i>Read the news</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!--contact start-->
